

main {
  background-color:white;
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}


.clock {
  width: clamp(10rem, 30rem, 45rem);
  height: clamp(10rem, 30rem, 45rem);
  border: 5px solid black;
  border-radius: 50%;
  margin: 50px auto;
  position: absolute;
  padding: 2rem;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); 
}



.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}
